<style>
    .btn {
        font: normal bold 14px Inter;
        padding: 15px 15px !important;
        margin: 5px;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h1 style="
        font-weight: 800;
        color: #ff8154;
        font-family: Inter;
        font-size: 40px;
      ">
            Les Privat Terbaik, Terlengkap, Terpercaya.
        </h1>
    </div>
    <div class="col-md-12">
        <p style="
        color: black;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 400;
      ">
            Terbukti Efektif Mendongkrak Nilai. Latis Education menghadirkan pelayanan
            les privat TK, SD, SMP, SMA, SNBT, SIMAK UI dan Program Eksklusif
            Lainnya untuk meraih impian.
        </p>
        <div class="row">
            <div class="col-md-6" id="button-nav">
                <a class="btn btn-sm" style="
            color: white;
            background-color: #ff8154;
            border-color: #ff8154;
            font-size: 16px;
            font-weight: 600;
            word-wrap: break-word;
          " href="#terbaik" role="button">
                    Lihat program terbaik kami</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-sm btn-outline-light" style="
            color: #ff8154;
            border-color: #ff8154;
            font-size: 16px;
            font-weight: 600;
          " href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20tanya%20les%20privat%20untuk%20siswa%0AKelas%20%3A%0AKurikulum%20%3A%0AWilayah%20%3A%0A%0ATerima%20kasih"
                    role="button" target="_blank">
                    Konsultasi gratis</a>
            </div>
        </div>
        <div class="row col-md-12">
            <h6 style="display: block; color: black;font-family: Inter;">Diliput Oleh :</h6>
            <div>
                <img src="https://latiseducation.com/assets/img/antv.png" alt="ANTV" width="125" class="img-fluid">
                <img src="https://latiseducation.com/assets/img/radardepok.png" alt="Radar Depok" width="125"
                    class="img-fluid" style="margin-left:15px;">
                <img src="https://latiseducation.com/assets/img/viva.png" alt="Viva" width="125" class="img-fluid"
                    style="margin-left:15px;">
                <img src="https://latiseducation.com/assets/img/cnn.png" alt="CNN Indonesia" width="60"
                    class="img-fluid" style="margin-left:5px;">
                <img src="https://latiseducation.com/assets/img/gtv.png" alt="GTV" width="75" class="img-fluid"
                    style="margin-left:5px;">
            </div>
        </div>
    </div>
</div>