<style>
  .bg-banner {
    background-image: url("https://latiseducation.com/assets/img/latisprivat/latisbanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 500px;
  }

  .btn {
    font: normal bold 14px Inter;
    padding: 15px 15px !important;
    margin: 5px;
    width: 100%;
  }
</style>
<div class="container bg-banner">
  <div class="row">
    <div class="col-md-6">
      <div class="row" style="margin-top: 9em">
        <div class="col-md-12" style="text-align: left">
          <h1
            style="
              font-weight: 800;
              color: #ff8154;
              font-family: Inter;
              font-size: 40px;
            "
          >
            Les Privat Terbaik, Terlengkap, Terpecaya.
          </h1>
        </div>
        <div class="col-md-12">
          <p
            style="
              color: black;
              font-family: Manrope;
              font-size: 18px;
              font-weight: 400;
            "
          >
            Terbukti Efektif Mendongkrak Nilai. Latis Education menghadirkan
            pelayanan les privat TK, SD, SMP, SMA, SBMPTN, SIMAK UI dan Program
            Eksklusif Lainnya untuk meraih impian.
          </p>
          <div class="row">
            <div class="col-md-6">
              <a
                class="btn btn-sm"
                style="
                  color: white;
                  background-color: #ff8154;
                  border-color: #ff8154;
                  font-size: 16px;
                  font-weight: 600;
                "
                href="#"
                role="button"
              >
                Lihat program terbaik kami</a
              >
            </div>
            <div class="col-md-6">
              <a
                class="btn btn-sm btn-outline-light"
                style="
                  color: #ff8154;
                  border-color: #ff8154;
                  font-size: 16px;
                  font-weight: 600;
                "
                href="#"
                role="button"
              >
                Konsultasi gratis</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
