<style>
  .card-unggul {
    color: black;
    margin: 5px;
    min-height: 280px;
  }

  .card-unggul h5 {
    font: 700 normal 20px Inter;
    line-height: 24px;
  }

  .card-unggul p {
    font: 500 normal 16px Manrope;
    line-height: 24px;
  }

  .card-unggul img {
    width: 50px;
  }
</style>

<div class="container">
  <center>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/male-teacher1.png"
              alt="unggul1"
            />
          </center>
          <h5>Kuantitas dan Kualitas Guru</h5>
          <p>
            Proses rekrutmen tutor yang ketat dan sistematis menghasilkan tutor
            berkualitas unggul dan berkompeten. Siswa tidak perlu takut
            mendapatkan guru asal-asalan, karena ada jaminan kualitas dari
            Latiseducation.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/trust-21.png"
              alt="unggul2"
            />
          </center>
          <h5>Terpercaya dan berbadan hukum</h5>
          <p>
            Latiseducation merupakan bimbingan belajar yang terpercaya karena
            sudah berpengalaman sejak 2013, berbadan hukum dan memiliki izin
            usaha dari dinas Pendidikan (Legal). Sehingga Anda bisa belajar
            dengan nyaman tanpa khawatir.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/organization1.png"
              alt="unggul3"
            />
          </center>
          <h5>Tim Professional</h5>
          <p>
            Tim management professional dan berpengalaman 9 tahun. Kami
            mendapatkan review kepuasan pelanggan terbanyak 976 bintang 5 di
            google dan melayani dengan sepenuh hati.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/tech-support1.png"
              alt="unggul4"
            />
          </center>
          <h5>After sales service</h5>
          <p>
            Kepuasan dan kenyamanan pelanggan adalah hal utama bagi kami, kami
            akan menangani segala permasalahan terkait program yang diambil oleh
            siswa dengan cepat dan tepat.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/cost-21.png"
              alt="unggul5"
            />
          </center>
          <h5>Biaya Les Terjangkau</h5>
          <p>
            Paket- paket belajar yang ditawarkan terjangkau (affordable) dengan
            kualitas yang diberikan sangat baik (hight quality).
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/voucher-2.png"
              alt="unggul6"
            />
          </center>
          <h5>Banyak Promo</h5>
          <p>
            Fasilitias Free trial untuk pertemuan pertama bagi pelanggan baru
            dan promo khusus kakak adik.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/exam-results1.png"
              alt="unggul7"
            />
          </center>
          <h5>Konsultasi dan report parents</h5>
          <p>
            Peningkatan nilai adalah tujuan kami. Anda bisa konsultasi dengan
            tim professional kami by appointment. Fasilitas e-learning dan daily
            report untuk mengetahui perkembangan progresif belajar anak.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body card-unggul">
          <center>
            <img
              src="https://latiseducation.com/assets/img/latisprivat/on-time.png"
              alt="unggul8"
            />
          </center>
          <h5>Serba Fleksibel</h5>
          <p>
            Bebas menentukan jam dan tempat belajar bersama tutor sehingga anak
            lebih nyaman dan termotivasi.
          </p>
        </div>
      </div>
    </div>
  </center>
</div>
