<style>
  .card-privat {
    background-color: #f6f6f6;
    margin: 5px;
    min-height: 350px;
  }

  .text-privat h6 {
    font: 700 normal 18px Inter;
    line-height: 24px;
  }

  .text-privat p {
    font: 500 normal 16px Manrope;
    line-height: 20px;
    min-height: 100px;
  }

  .btn-orange {
    background-color: #ff8154;
    color: #ffffff;
    padding: 8px 8px !important;
    font: 500 normal 16px Inter;
    line-height: 16px;
  }

  .btn-konsul {
    margin-top: auto;
    margin-bottom: 10px;
  }
</style>

<div class="container" style="margin-bottom: 5em">
  <center>
    <div class="row">
      <div class="col-md-4">
        <div class="card-body card-privat">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Component22.png"
              alt="icon1"
            />
          </div>

          <div class="text-privat">
            <h6>LES PRIVAT 10-12 SMA</h6>
            <p>
              Menstabilkan nilai rapor dan meningkatkan prestasi belajar dengan
              kurikulum Nasional dan Internasional sebagai bekal masuk perguruan
              tinggi negeri.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20tanya%20les%20privat%20untuk%20siswa%20%0AKelas%20%3A%2010%20%2F%2011%20%2F12%20SMA%20(Pilih%20satu)*%0AKurikulum%20%3A%0AMapel%20%3A%0AWilayah%20%3A%0A%20%0ATerimakasih"
              target="_blank"
              class="btn btn-sm btn-orange btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-privat">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Group.png"
              alt="icon12"
            />
          </div>

          <div class="text-privat">
            <h6>LES PRIVAT 7-9 SMP</h6>
            <p>
              Mendongkrak nilai anak dengan pemahaman materi, assessment,
              konsultasi PR, tanya jawab interaktif, Cerdas PAS dan Cerdas PAT
              dengan kurikulum Nasional dan Internasional.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20tanya%20les%20privat%20untuk%20siswa%20%0AKelas%20%3A%207%20%2F%208%20%2F9%20SMP%20(Pilih%20satu)*%0AKurikulum%20%3A%0AMapel%20%3A%0AWilayah%20%3A%0A%20%0ATerimakasih"
              target="_blank"
              class="btn btn-sm btn-orange btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-privat">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Frame85v.png"
              alt="icon3"
            />
          </div>

          <div class="text-privat">
            <h6>LES PRIVAT 1-6 SD</h6>
            <p>
              Memotivasi anak untuk giat belajar dan selalu berprestasi dengan
              pembelajaran yang fun dan memahami materi dasar sesuai kurikulum
              Nasional dan Internasional.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20tanya%20les%20privat%20untuk%20siswa%20%0AKelas%20%3A%201%20%2F%202%20%2F%203%20%2F%204%20%2F%205%20%2F%206%20SD%20(Pilih%20satu)*%0AKurikulum%20%3A%0AMapel%20%3A%0AWilayah%20%3A%0A%20%0ATerimakasih"
              target="_blank"
              class="btn btn-sm btn-orange btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card-body card-privat">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Component2.png"
              alt="icon4"
            />
          </div>

          <div class="text-privat">
            <h6>LES PRIVAT TK Dan CALISTUNG</h6>
            <p>
              Memberikan anak pengetahuan membaca, menulis dan berhitung dengan
              fun learning sebagai bekal masuk sekolah dasar baik kurikulum
              Nasional dan Internasional.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20tanya%20les%20privat%20untuk%20siswa%20%0AKelas%20%3A%20TK%20%20%2F%20CALISTUNG%20(Pilih%20satu)*%0AKurikulum%20%3A%0AMapel%20%3A%0AWilayah%20%3A%0A%20%0ATerimakasih"
              target="_blank"
              class="btn btn-sm btn-orange btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-privat">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Vector.png"
              alt="icon1"
            />
          </div>

          <div class="text-privat">
            <h6>LES PRIVAT MAHASISWA</h6>
            <p>
              Memberikan tambahan pembelajaran bagi mahasiswa yang kesulitan
              dalam memahami materi perkuliahan.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20tanya%20les%20privat%20untuk%20siswa%20%0AKelas%20%3A%20Mahasiswa%20(Pilih%20satu)*%0AKurikulum%20%3A%0AMapel%20%3A%0AWilayah%20%3A%0A%20%0ATerimakasih"
              target="_blank"
              class="btn btn-sm btn-orange btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
