<style>
  .card-eksklu {
    background-color: #f6f6f6;
    margin: 5px;
    height: 380px;
  }
  .text-eksklu h6 {
    font: 700 normal 18px Inter;
    line-height: 24px;
  }

  .text-eksklu p {
    font: 500 normal 16px Manrope;
    line-height: 20px;
    min-height: 130px;
  }

  .btn-eksklu {
    background-color: #008e79;
    color: #ffffff;
    padding: 8px 8px !important;
    font: 500 normal 16px Inter;
    line-height: 16px;
  }

  .btn-konsul {
    margin-top: auto;
    margin-bottom: 10px;
  }
</style>

<div class="container">
  <center>
    <div class="row">
      <div class="col-md-4">
        <div class="card-body card-eksklu">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/notebook.png"
              alt="icon1"
            />
          </div>

          <div class="text-eksklu">
            <h6>Intensif Privat SBMPTN & SIMAK UI</h6>
            <p>
              Program jaminan masuk UI dan PTN Favorit dengan system
              pembelajaran secara tatap muka atau online. Tutor datang ke rumah
              dengan metode belajar one coach one student dan disempurnakan
              dengan e-learning latiseducation.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20konsultasi%20mengenai%20Program%20Intensif%20privat%20SBMPTN%20%2F%20SIMAK%20UI%20untuk%20siswa%20%3A%0A%0AKelas%20%3A%2012%20SMA%20%2F%20GAPYEAR%20(Pilih%20satu)*%0AJurusan%20%3A%20IPA%20%2F%20IPS%20(Pilih%20satu)*%0AWilayah%20%3A%0A%0ATerima%20Kasih"
              target="_blank"
              class="card-footer btn btn-sm btn-eksklu btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-eksklu">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Frame85a.png"
              alt="icon12"
            />
          </div>

          <div class="text-eksklu">
            <h6>Karantina SBMPTN & SIMAK UI</h6>
            <p>
              Program jaminan masuk UI dan PTN Favorit dengan sistem karantina
              selama 30 hari di premium apartemen setara bintang 4 dan belajar
              langsung dengan alumni UI S1/S2/S3.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20konsultasi%20mengenai%20Program%20Karantina%20SBMPTN%20%26%20SIMAK%20UI%20untuk%20siswa%20%3A%0A%0AKelas%20%3A%2012%20SMA%20%2F%20GAPYEAR%20(Pilih%20satu)*%0AJurusan%20%3A%20IPA%20%2F%20IPS%20(Pilih%20satu)*%0AWilayah%20%3A%0A%0ATerima%20Kasih"
              target="_blank"
              class="card-footer btn btn-sm btn-eksklu btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-eksklu">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Frame85p.png"
              alt="icon3"
            />
          </div>

          <div class="text-eksklu">
            <h6>Bimbel Kedokteran</h6>
            <p>
              Program terbaik masuk kedokteran belajar secara intensif dengan
              pilihan program berkualitas, coaching dengan dokter bertalenta dan
              tutor lulusan UI S1/S2/S3.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20konsultasi%20mengenai%20Program%20Bimbel%20Kedokteran%20untuk%20siswa%20%3A%0A%0AKelas%20%3A%2012%20SMA%20%2F%20GAPYEAR%20(Pilih%20satu)*%0AJurusan%20%3A%20IPA%20%2F%20IPS%20(Pilih%20satu)*%0AWilayah%20%3A%0A%0ATerima%20Kasih"
              target="_blank"
              class="card-footer btn btn-sm btn-eksklu btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card-body card-eksklu">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/portfolio.png"
              alt="icon4"
            />
          </div>

          <div class="text-eksklu">
            <h6>Bimbel CPNS</h6>
            <p>
              Program untuk meraih impian menjadi aparatur sipil negara dengan
              berbagai pilihan program berkualitas mulai dari les online,
              private intensif dan bimbel kelas dengan metode mengerjakan soal
              3x lebih cepat.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20konsultasi%20mengenai%20Program%20Bimbel%20CPNS%20untuk%20siswa%20%3A%0A%0AKelas%20%3A%2012%20SMA%20%2F%20GAPYEAR%20(Pilih%20satu)*%0AJurusan%20%3A%20IPA%20%2F%20IPS%20(Pilih%20satu)*%0AWilayah%20%3A%0A%0ATerima%20Kasih"
              target="_blank"
              class="card-footer btn btn-sm btn-eksklu btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-eksklu">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Frame85j.png"
              alt="icon1"
            />
          </div>

          <div class="text-eksklu">
            <h6>Bimbel Kedinasan</h6>
            <p>
              Program Intensif privat khusus kedinasan (STAN, STIS, STIN, dll)
              dilaksanakan secara online/offline. Tutor datang langsung ke rumah
              dengan protocol Kesehatan disempurnakan dengan e-learning
              latiseducation.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20konsultasi%20mengenai%20Program%20Bimbel%20Kedinasan%20untuk%20siswa%20%3A%0A%0AKelas%20%3A%2012%20SMA%20%2F%20GAPYEAR%20(Pilih%20satu)*%0AJurusan%20%3A%20IPA%20%2F%20IPS%20(Pilih%20satu)*%0AWilayah%20%3A%0A%0ATerima%20Kasih"
              target="_blank"
              class="card-footer btn btn-sm btn-eksklu btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-eksklu">
          <div class="icon">
            <img
              src="https://latiseducation.com/assets/img/latisprivat/Frame85.png"
              alt="icon1"
            />
          </div>

          <div class="text-eksklu">
            <h6>Bimbel AKPOL/AKMIL</h6>
            <p>
              Program Intensif private yang dirancang khusus untuk lolos tes
              akademik Akpol atau Akmil dengan tutor berkualitas dan
              berpengalaman dengan metode mengerjakan soal 3x lebih cepat.
            </p>

            <a
              href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20konsultasi%20mengenai%20Program%20Bimbel%20AKPOL%2FAKMIL%20untuk%20siswa%20%3A%0A%0AKelas%20%3A%2012%20SMA%20%2F%20GAPYEAR%20(Pilih%20satu)*%0AJurusan%20%3A%20IPA%20%2F%20IPS%20(Pilih%20satu)*%0AWilayah%20%3A%0A%0ATerima%20Kasih"
              class="card-footer btn btn-sm btn-eksklu btn-konsul"
              >Konsultasi Program</a
            >
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
