<style>
  .owl-carousel .item-video {
    height: 300px;
  }
  #sec02 #sec02-03 .widget-content {
    max-width: 100%;
    margin: auto;
  }
</style>

<div class="owl-carousel owl-theme">
  <div class="item-video" data-merge="1">
    <a class="owl-video" href="https://www.youtube.com/watch?v=7LzMTjhVr_U"></a>
  </div>
  <div class="item-video" data-merge="2">
    <a class="owl-video" href="https://www.youtube.com/watch?v=ItiSMjSEil8"></a>
  </div>
  <div class="item-video" data-merge="1">
    <a
      class="owl-video"
      href="https://www.youtube.com/watch?v=Xhe18GruPXU&t=2s"
    ></a>
  </div>
  <div class="item-video" data-merge="2">
    <a class="owl-video" href="https://www.youtube.com/watch?v=1hhTuLuyEDM"></a>
  </div>
  <div class="item-video" data-merge="1">
    <a class="owl-video" href="https://www.youtube.com/watch?v=KBy4ZoCtNPo"></a>
  </div>
  <div class="item-video" data-merge="2">
    <a class="owl-video" href="https://www.youtube.com/watch?v=CjrJBjESvQM"></a>
  </div>
</div>
