<div class="owl-carousel owl-theme" style="margin-bottom: 5em">
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Fitri-Christianti-program-Reguler-SMA.jpeg"
                     alt="tempat les terdekat dan murah, les privat adalah, les privat terdekat" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Hilda-Pepaus-program-reguler-SD.jpeg"
                     alt="les terdekat, les bimbel terdekat, tempat les terdekat dari lokasi saya" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Irma-Jayanti-Program-Reguler-SD.jpeg"
                     alt="biaya les rumahan, harga guru private ke rumah, tempat bimbel terdekat dan murah" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Maya-Tanoyo-Program-Reguler-SMA.jpeg"
                     alt="jasa les privat terdekat, tutor private, les privat matematika" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Mella-Agyl-Program-Bahasa-Asing.jpeg"
                     alt="biaya les privat, harga les privat, les privat matematika" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Monika-Widyastuti-Program-Reguler-SD.jpeg"
                     alt="empat les terdekat
                     dan murah, les privat adalah, les privat terdekat" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Nenny-Program-Bahasa-Asing.jpeg"
                     alt="les terdekat, les
                     bimbel terdekat, tempat les terdekat dari lokasi saya" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Ninuk-Ratna-Program-Reguler-SMA.jpeg"
                     alt="biaya les rumahan,
                     harga guru private ke rumah, tempat bimbel terdekat dan murah" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Risa-Ryb-Program-Reguler-TK.jpeg"
                     alt="jasa les privat
                     terdekat, tutor private, les privat matematika" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Thesa-Program-Reguler-SD.jpeg" alt="Tempat les terdekat
                     dan murah, les privat adalah, les privat terdekat" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Vivie-Novianti-Program-Reguler-SD.jpeg"
                     alt="biaya les privat,
                     harga les privat, les privat matematika" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Pak-Agus-Stiatmo-Pranoto-Program-Reguler-SD.jpeg"
                     alt="les terdekat, les
                     bimbel terdekat, tempat les terdekat dari lokasi saya" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Pak-Sofyan-Arief-Program-Reguler-SMP.jpeg"
                     alt="biaya les rumahan,
                     harga guru private ke rumah, tempat bimbel terdekat dan murah" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Diana-Marbun-Program-Reguler-SMP.jpeg"
                     alt="jasa les privat
                     terdekat, tutor private, les privat matematika" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Dina-Renatha-program-Reguler-SMP.jpeg"
                     alt="biaya les privat,
                     harga les privat, les privat matematika" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Anita-Christiyanti-Program-Reguler-SD.jpeg"
                     alt="empat les terdekat
                     dan murah, les privat adalah, les privat terdekat" />
       </div>
       <div class="item">
              <img class="d-block w-100 img-thumbnail" loading="lazy"
                     src="https://latiseducation.com/assets/img/latisprivat/gmb/Ibu-Dian-Rayinta-patra-Program-Reguler-SMP.jpeg"
                     alt="les terdekat, les
                     bimbel terdekat, tempat les terdekat dari lokasi saya" />
       </div>
</div>