<style>
  .btn {
    font: normal bold 16px Inter;
    padding: 15px 15px !important;
    margin: 5px;
    width: 100%;
  }
</style>

<center>
  <p style="font: 500 normal 20px Manrope">
    Raih prestasi seperti mereka, temukan guru terbaikmu di sini
  </p>
  <div>
    <div class="row">
      <div class="col-md-6">
        <a
          class="btn btn-sm"
          style="color: white; background-color: #ff8154"
          href="https://wa.me/+6285810779967?text=Halo%20Kak%20Leni%20Latis%20Privat%2C%20saya%20ingin%20tanya%20les%20privat%20untuk%20siswa%0AKelas%20%3A%0AKurikulum%20%3A%0AWilayah%20%3A%0A%0ATerima%20kasih"
          role="button"
          target="_blank"
          >Hubungi Kami Sekarang</a
        >
      </div>
      <div class="col-md-6">
        <a
          class="btn btn-sm"
          style="color: #ff8154; border-color: #ff8154"
          href="#"
          role="button"
        >
          Cek Promo Terkini</a
        >
      </div>
    </div>
  </div>
</center>
