<style>
  .run-angka {
    background: linear-gradient(
        0deg,
        rgba(146, 71, 4, 0.6),
        rgba(146, 71, 4, 0.6)
      ),
      url("https://latiseducation.com/assets/img/latisprivat/counting.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
  }

  .run-angka h1 {
    font: 800 normal 40px Inter;
    line-height: 48px;
  }

  .run-angka p {
    font: 500 normal 18px Inter;
    line-height: 24px;
  }
</style>

<div class="container run-angka">
  <center>
    <div class="row">
      <div class="col-md-4">
        <h1 class="count1">98%</h1>
        <p>Mendongkrak Nilai Siswa</p>
      </div>
      <div class="col-md-4">
        <h1 class="count2">3.418</h1>
        <p>Guru Alumni PTN Terbaik</p>
      </div>
      <div class="col-md-4">
        <h1 class="count3">1.250+</h1>
        <p>Siswa Latiseducation</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h1 class="count4">1.345</h1>
        <p>Materi Terupdate</p>
      </div>
      <div class="col-md-4">
        <h1 class="count5">98%</h1>
        <p>Kepuasan Siswa</p>
      </div>
      <div class="col-md-4">
        <h1 class="count6">976+</h1>
        <p>Rating Bintang 5 di Google</p>
      </div>
    </div>
  </center>

  <script>
    $(document).ready(function () {
      let max1 = 98;
      let max2 = 3418;
      let max3 = 1250;
      let max4 = 1345;
      let max5 = 98;
      let max6 = 976;

      let h1 = $(".count1");
      let h2 = $(".count2");
      let h3 = $(".count3");
      let h4 = $(".count4");
      let h5 = $(".count5");
      let h6 = $(".count6");

      i1 = 0;
      i2 = 0;
      i3 = 0;
      i4 = 0;
      i5 = 0;
      i6 = 0;

      setInterval(function () {
        if (i1 < max1) {
          i1++;
        }
        h1.html(i1 + "%");

        if (i2 < max2) {
          i2++;
        }
        h2.html(i2);

        if (i3 < max3) {
          i3++;
        }
        h3.html(i3 + "+");

        if (i4 < max4) {
          i4++;
        }
        h4.html(i4);

        if (i5 < max5) {
          i5++;
        }
        h5.html(i5 + "%");

        if (i6 < max6) {
          i6++;
        }
        h6.html(i6 + "+");
      }, 50);
    });
  </script>
</div>
