<style>
  .daftar-sekolah {
    padding: 2.5em 0em;
  }

  .list-sekolah1 {
    font: 500 normal 14px Inter;
    text-align: left;
    width: 100%;
  }

  .list-sekolah1 li {
    background: url("https://latiseducation.com/assets/img/latisprivat/open-book1.png")
      no-repeat left;
    padding-left: 30px;
  }
  .list-sekolah2 {
    font: 500 normal 14px Inter;
    text-align: left;
    width: 100%;
  }

  .list-sekolah2 li {
    background: url("https://latiseducation.com/assets/img/latisprivat/open-book1.png")
      no-repeat left;
    padding-left: 30px;
  }

  .list-sekolah3 {
    font: 500 normal 14px Inter;
    text-align: left;
    width: 100%;
  }

  .list-sekolah3 li {
    background: url("https://latiseducation.com/assets/img/latisprivat/open-book1.png")
      no-repeat left;
    padding-left: 30px;
  }
</style>

<div class="container daftar-sekolah">
  <div class="row">
    <div class="col-md-3">
      <div style="text-align: left">
        <h6 style="font: 700 normal 28px Inter; line-height: 36px; margin: 0">
          Latiseducation telah melayani berbagai siswa-siswi
        </h6>
        <p style="font: 500 normal 20px Inter; line-height: 36px">
          dari berbagai macam sekolah di Indonesia
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-sekolah1">
        <ul>
          <li>SD Budi Luhur</li>
          <li>SMPIT Nurul Fikri</li>
          <li>SD Madania</li>
          <li>SDK 4 Penabur</li>
          <li>SMPI Al Azhar 19</li>
          <li>Labschool Rawamangun</li>
          <li>SMP Labschool Jakarta</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-sekolah2">
        <ul>
          <li>SMAN 5 Bekasi</li>
          <li>Global Prestasi School</li>
          <li>SMAN 1 Depok</li>
          <li>SMP IT NURUL FIKRI DEPOK</li>
          <li>SMAI Al-Azhar 1 Jakarta</li>
          <li>SDIT AL-HIKMAH</li>
          <li>SMPIT Buahati</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-sekolah3">
        <ul>
          <li>SMPN 73 JAKARTA</li>
          <li>SDI AL HADIRIYAH</li>
          <li>SMP Negeri 19</li>
          <li>SMP Putra 1 Jakarta</li>
          <li>SMP Al Azhar Jagakarsa</li>
          <li>SMA Muhammadiyah 23</li>
          <li>SMA Don Bosco</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <a
        href="#"
        class="btn btn-md"
        style="
          font: 600 normal 16px Inter;
          border-color: white;
          color: white;
          margin-top: 3rem;
        "
      >
        Lihat daftar semua sekolah
      </a>
    </div>
  </div>
</div>
