<style>
    .title-diliput {
        font: 800 normal 28px Inter;
        color: #ff8154;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <center>
                <h6 class="title-diliput">Latiseducation telah diliput oleh Media</h6>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/bkB6OcJsTsY?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/0QsaMJwVq1g?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img class="d-block w-100" loading="lazy" src="https://latiseducation.com/assets/img/media1.png"
                        alt="Media 1" />
                </div>
                <div class="item">
                    <img class="d-block w-100" loading="lazy" src="https://latiseducation.com/assets/img/media2.png"
                        alt="Media 2" />
                </div>
                <div class="item">
                    <img class="d-block w-100" loading="lazy" src="https://latiseducation.com/assets/img/media3.png"
                        alt="Media 3" />
                </div>
                <div class="item">
                    <img class="d-block w-100" loading="lazy" src="https://latiseducation.com/assets/img/media4.png"
                        alt="Media 4" />
                </div>
            </div>
        </div>
    </div>
</div>