<div class="container">
  <div class="row">
    <div class="col-md-3">
      <center>
        <h5 class="partner-diliput">Diliput Oleh</h5>
      </center>
    </div>
    <div class="col-md-9">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/bisnis.png"
            alt="First slide" />
        </div>
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/cnn.png" alt="First slide" />
        </div>
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/detik.png"
            alt="First slide" />
        </div>
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/kompas.png"
            alt="First slide" />
        </div>
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/liputan6.png"
            alt="First slide" />
        </div>
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/merdeka.png"
            alt="First slide" />
        </div>
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/suara.png"
            alt="First slide" />
        </div>
        <div class="item">
          <img class="d-block w-70" src="https://latiseducation.com/assets/img/latisprivat/okezone.png"
            alt="First slide" />
        </div>
      </div>
    </div>
  </div>
</div>