<style>
  #accordion {
    width: 100%;
    text-align: justify;
  }

  #accordion h5 {
    margin: 0px 0px !important;
  }

  .btn-link {
    color: black;
  }

  .btn-faq {
    font: 600 normal 16px Poppins;
    text-align: justify;
    white-space: normal !important;
    padding: 0px 0px !important;
  }

  .teks-faq {
    font: 500 normal 14px Poppins;
    line-height: 30px;
  }
</style>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="faq1">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq"
          data-toggle="collapse"
          data-target="#collapseFaq1"
          aria-expanded="true"
          aria-controls="collapseFaq1"
        >
          Bagaimana sistem les privat di Latiseducation?
        </button>
      </h5>
    </div>

    <div
      id="collapseFaq1"
      class="collapse show"
      aria-labelledby="faq1"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Kami mendatangkan tutor privat ke rumah yang tentunya berpengalaman dan
        berkualitas, sesuai dengan kriteria keinginan Anda. Selain les privat ke
        rumah, latiseducation juga menyediakan program les privat secara online.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq2">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq2"
          aria-expanded="false"
          aria-controls="collapseFaq2"
        >
          Bagaimana les privat berjalan selama masa pandemi covid 19?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq2"
      class="collapse"
      aria-labelledby="faq2"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Guru Latiseducation menerapkan protokol kesehatan 3M: Mencuci tangan,
        Menjaga jarak dan Menggunakan masker. Selain itu, Mayoritas guru latis
        education sudah divaksin sehingga pembelajaran lebih nyaman tanpa
        khawatir. Anda bisa meminta sertifikat vaksin di awal sebelum tutor
        datang jika diperlukan.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq3">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq3"
          aria-expanded="false"
          aria-controls="collapseFaq3"
        >
          Apakah boleh request tutor?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq3"
      class="collapse"
      aria-labelledby="faq3"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Siswa diperbolehkan memilih guru berdasarkan kebutuhan seperti: guru
        laki-laki atau perempuan, background pendidikan dan pengalaman mengajar.
        Sebelum tutor datang, tim kami akan mengirimkan profil tutor secara
        lengkap. Anda bisa menyetujui atau meminta kami memproses kembali untuk
        memperoleh kandidat lain.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq4">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq4"
          aria-expanded="false"
          aria-controls="collapseFaq4"
        >
          Bagaimana cara mendaftarkan siswa Latiseducation?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq4"
      class="collapse"
      aria-labelledby="faq4"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Hubungi Koordinator Pendidikan kami, Kak Leni di nomor +62858-1077-9967.
        Melalui whatsapp, akan kami kirimkan link pendaftaran, price list, serta
        informasi fasilitas yang akan Anda dapatkan.<br />
        Pastikan Anda melakukan konfirmasi pembayaran pendaftaran sebesar
        Rp100.000 ke No. Rekening Perusahaan PT LATIS TEKNOLOGI INDONESIA, dan
        di hari yang sama tim HRD kami akan memproses pendaftaran Anda.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq5">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq5"
          aria-expanded="false"
          aria-controls="collapseFaq5"
        >
          Apakah siswa bisa menentukan jadwal les privat?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq5"
      class="collapse"
      aria-labelledby="faq5"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Siswa bisa memilih jadwal les sesuai dengan jadwal kosong yang dimiliki,
        atau Tim Koodinator Pendidikan juga bisa memberikan opsi jadwal terbaik
        sesuai dengan kebutuhan. Jadwal les privat siswa yang sudah disepakati
        dilaksanakan secara rutin setiap minggunya.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq6">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq6"
          aria-expanded="false"
          aria-controls="collapseFaq6"
        >
          Bagaimana sistem pembayaran les privat di Latiseducation?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq6"
      class="collapse"
      aria-labelledby="faq6"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Pembayaran les hanya dilakukan melalui transfer ke rekening atas nama
        perusahaan PT LATIS TEKNOLOGI INDONESIA. <br />
        Kami memiliki 2 metode pembayaran yang bisa Anda pilih:<br />
        1. Membayar paket diawal sebanyak jumlah pertemuan yang diinginkan untuk
        jangka waktu 1-6 bulan, dan bisa dikostumisasi sesuai kebutuhan.<br />
        2. Membayar biaya les di setiap akhir bulan. Maka Tim kami akan
        melakukan penagihan biaya les setiap tanggal 29 dari sistem real absensi
        yang sudah terintegrasi.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq7">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaqq7"
          aria-expanded="false"
          aria-controls="collapseFaqq7"
        >
          Berapa lama proses mendapatkan guru?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaqq7"
      class="collapse"
      aria-labelledby="faq7"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        1 sampai 3 hari kerja setelah melengkapi formulir pendaftaran dan
        membayar biaya pendaftaran sebesar Rp100.000 ke rekening PT LATIS
        TEKNOLOGI INDONESIA
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq8">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq8"
          aria-expanded="false"
          aria-controls="collapseFaq8"
        >
          Dari mana background guru-gurunya?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq8"
      class="collapse"
      aria-labelledby="faq8"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Guru Latiseducation berasal dari Universitas-Universitas ternama di
        Seluruh Indonesia: UI, PNJ, ITB, IPB, UNPAD dan universitas ternama
        lainnya. Kami berkomitmen menjaga kualitas guru, dengan melakukan
        seleksi secara ketat sesuai standar lembaga Latiseducation.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq9">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq9"
          aria-expanded="false"
          aria-controls="collapseFaq9"
        >
          Jika siswa kurang cocok dengan guru apakah boleh ganti guru?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq9"
      class="collapse"
      aria-labelledby="faq9"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Kami memberikan garansi pergantian guru les privat sampai 3x pergantian,
        dengan syarat orang tua/siswa menyampaikan kendala selama belajar dengan
        guru les privat sebelumnya.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faq10">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-faq collapsed"
          data-toggle="collapse"
          data-target="#collapseFaq10"
          aria-expanded="false"
          aria-controls="collapseFaq10"
        >
          Punya pertanyaan lain?
        </button>
      </h5>
    </div>
    <div
      id="collapseFaq10"
      class="collapse"
      aria-labelledby="faq10"
      data-parent="#accordion"
    >
      <div class="card-body teks-faq">
        Silahkan hubungi kami via telepon atau whatsapp ke nomor
        +62858-1077-9967 (Kak Leni). We'll be glad to assist you.
      </div>
    </div>
  </div>
</div>
