<style>
    footer ul {
        display: block;
    }

    .post-body {
        line-height: 1.5 !important;
        font: normal normal 18px -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .footer {
        font-family: Inter;
        line-height: 24px;
    }

    .location {
        background: url("https://latiseducation.com/assets/img/latisprivat/Location.png") no-repeat left;
        padding-left: 30px !important;
    }

    .link-conta {
        text-decoration: none;
        color: white;
    }

    .phone {
        background: url("https://latiseducation.com/assets/img/latisprivat/Phone.png") no-repeat left;
        padding-left: 30px !important;
    }

    .whatsapp {
        background: url("https://latiseducation.com/assets/img/latisprivat/Whatsapp.png") no-repeat left;
        padding-left: 30px !important;
    }

    .email {
        background: url("https://latiseducation.com/assets/img/latisprivat/email.png") no-repeat left;
        padding-left: 30px !important;
    }
</style>

<div class="container mt-5 footer">
    <div class="row">
        <div class="col-md-3">
            <img src="https://blogger.googleusercontent.com/img/a/AVvXsEjHVu-8ZHf6GAEF6B4e35NSCjnUEn92eb4uAOAxzu29X80wNsCAPgj5qlGEYJex5C7NlrWx-dY3YxKx5y6ajx2ZfatX9IuO_UyANGARL-vHIkY-v-ZMvydAWG4rKsuFJoMy_lJ0TSB43F8ZMxyR59yLugN3spQDsV1ZW5WXk6hGOTYp6YPwHWro0LNAIQ=s321"
                alt="Latis Privat" class="mt-2 mb-2" />
            <p>
                Latiseducation adalah platform pendidikan terbaik di Indonesia yang
                menyediakan guru privat untuk semua jenjang pendidikan dan berbagai mata
                pelajaran mulai dari TK, SD, SMP, SMA dan program specialist masuk
                Perguruan Tinggi Negeri favorit yaitu program Intensif Private, Online
                Camp dan Karantina Supercamp SBMPTN dan SIMAK UI. Didirikan pada tahun
                2013, Latiseducation telah memberdayakan lebih dari ribuan guru di
                seluruh Indonesia dan membantu ratusan siswa untuk mencapai prestasi dan
                potensi terbaiknya dalam meraih mimpi sesuai cita-citanya. Daya tarik
                Latiseducation lainnya adalah program kami yang berhasil mengantarkan
                ratusan siswa setiap tahunnya masuk PTN Favorit dengan tingkat
                keberhasilan lebih dari 90%.
            </p>
            <h6>Ikuti Kami</h6>
            <div class="follow_me">
                <a href="https://www.instagram.com/latiseducation/" target="_blank">
                    <img src="https://latiseducation.com/assets/img/ig.png" width="20" alt="Latis Education" />
                </a>
                <a href="https://www.facebook.com/Latis-Privat-1429223854059865/" target="_blank">
                    <img src="https://latiseducation.com/assets/img/fb.png" width="20" alt="Latis Education" />
                </a>
                <a href="https://www.youtube.com/channel/UCcXqPPijOmscmCEtCESW5Gg" target="_blank">
                    <img src="https://latiseducation.com/assets/img/yt.png" width="20" alt="Latis Education" />
                </a>
                <a href="https://twitter.com/latis_privat?s=09" target="_blank">
                    <img src="https://latiseducation.com/assets/img/twi.png" width="20" alt="Latis Education" />
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <h5>PROGRAM REGULER LATISEDUCATION</h5>
            <div class="program-reguler">
                <ul>
                    <li>
                        <a href="https://www.latisprivat.com/2016/06/tingkat-tk.html?m=1" class="link-conta">
                            Les Privat Paud/TK
                        </a>
                    </li>
                    <li>
                        <a href="https://www.latisprivat.com/2016/06/tingkat-sd.html?m=1" class="link-conta">
                            Les Privat SD
                        </a>
                    </li>
                    <li>
                        <a href="https://www.latisprivat.com/2016/06/tingkat-smp.html?m=1">
                            Les Privat SMP
                        </a>
                    </li>
                    <li>
                        <a href="https://www.latisprivat.com/2016/06/tingkat-sma.html?m=1">
                            Les Privat SMA
                        </a>
                    </li>
                    <li>Les Privat Mahasiswa</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <h5>PROGRAM EKSKLUSIF LATISEDUCATION</h5>
            <div class="program-eksklusif">
                <ul>
                    <!-- <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Karantina SBMPTN
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/karantina-simak-ui/" class="link-conta">
                            Karantina SIMAK UI
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/intensif-les-privat-sbmptn/" class="link-conta">
                            Intensif Privat SBMPTN
                        </a>
                    </li>
                    <li>
                        <a href="https://simakui.id/bimbingan-simak-ui/" class="link-conta">
                            Intensif Privat SIMAK UI
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/bimbel-online-sbmptn/" class="link-conta">
                            Online Camp SBMPTN
                        </a>
                    </li>
                    <li>
                        <a href="https://simakui.id/bimbel-online-simak-ui/" class="link-conta">
                            Online Camp SIMAK UI
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/les-kedokteran/" class="link-conta">
                            Bimbel Kedokteran
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/kursus-cpns-online/" class="link-conta">
                            Bimbel CPNS
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/bimbel-stan-terbaik/" class="link-conta">
                            Bimbel Kedinasan
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/bimbel-akpol-terbaik/" class="link-conta">
                            Bimbel AKPOL/AKMIL
                        </a>
                    </li> -->

                    <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Bimbel SBMPTN Karantina
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/intensif-les-privat-sbmptn/" class="link-conta">
                            Les Privat SBMPTN Intensif
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/bimbel-online-sbmptn/" class="link-conta">
                            Bimbel Online SBMPTN
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/karantina-simak-ui/" class="link-conta">
                            Karantina SIMAK UI
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Bimbel SNBT
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Les SNBT
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Les Privat SNBT
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Bimbel UTBK
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Les UTBK
                        </a>
                    </li>
                    <li>
                        <a href="https://supercampalumniui.com/" class="link-conta">
                            Les Privat UTBK
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="mb-5">HUBUNGI KAMI</h5>
            <div class="hubungi-kami">
                <ul>
                    <li class="location">
                        Ocean Terrace E1 Jalan Tole Iskandar, Tirtajaya, Kec. Sukmajaya,
                        Kota Depok, Jawa Barat, 16412
                    </li>
                    <li class="phone">
                        Head Office :
                        <a href="tel:02177844897" class="link-conta">02177844897</a>
                    </li>
                    <li class="whatsapp">
                        <a href="https://wa.me/+6285810779967">0858 1077 9967</a>
                        <a href="https://wa.me/+6287781609961">0877 8160 9961</a>
                    </li>
                    <li class="email">
                        <a href="mailto:info@latiseducation.com">
                            info@latiseducation.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>