<style>
  .title-gallery {
    font: 800 normal 28px Inter;
    color: #ff8154;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h6 class="title-gallery">Gallery Belajar Siswa</h6>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/AFIFAH-NAYRA.png" alt="AFIFAH-NAYRA" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/AKASA.png" alt="AKASA" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/AVRIL-ANNELY.png" alt="AVRIL-ANNELY" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/HAFIZ-ALDEAN.png" alt="HAFIZ-ALDEAN" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/HIFZY.png" alt="HIFZY.png" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/KEGIATAN-TRY-OUT.png"
            alt="KEGIATAN-TRY-OUT" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/KEYZHA.png" alt="KEYZHA" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/KHANSA.png" alt="KHANSA" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/MICHAEL-CONRAD.png"
            alt="MICHAEL-CONRAD" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/MUMTAZ.png" alt="MUMTAZ" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/NABIL-MAKARIM.png" alt="NABIL-MAKARIM" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/RAISHA.png" alt="RAISHA" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/REVANNOZA.png" alt="REVANNOZA" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/SAYED-FADEL.png" alt="SAYED-FADEL" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/SISWI-SISWI.png" alt="SISWI-SISWI" />
        </div>
        <div class="item">
          <img class="d-block w-100" loading="lazy"
            src="https://latiseducation.com/assets/img/latisprivat/galleryblj/SYAUQI.png" alt="SYAUQI" />
        </div>
      </div>
    </div>
  </div>
</div>