<style>
  .partner-diliput {
    font: 800 normal 28px Inter;
    line-height: 36px;
    color: #ff8154;
  }

  .w-70 {
    width: 70% !important;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <center>
        <h5 class="partner-diliput">Our Partner</h5>
      </center>
    </div>
    <div class="col-md-9">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner1.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner2.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner3.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner4.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner5.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner6.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner7.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner8.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner9.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner10.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner11.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner12.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner13.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner14.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner15.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner16.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner17.png"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner18.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner19.jpg"
            alt="First slide"
          />
        </div>
        <div class="item">
          <img
            class="d-block w-70 img-thumbnail"
            src="https://latiseducation.com/assets/img/latisprivat/partner20.png"
            alt="First slide"
          />
        </div>
      </div>
    </div>
  </div>
</div>
