<div id="terbaik">
  <center>
    <h2 style="font: 800 normal 32px Inter; color: #ff8154">
      PILIHAN PROGRAM LES PRIVAT
    </h2>
  </center>
</div>

<!-- Atas dan Bawah Beda Gadget -->

<div>
  <p style="font: 500 normal 20px Manrope; line-height: 30px">
    Program les privat terbaik “professional teacher at your home” untuk
    memenuhi kebutuhan belajar kamu. One teacher one student, terbukti efektif.
  </p>
</div>
