<center>
  <h2 style="font: 800 normal 32px Inter; color: #008e79">
    PILIHAN PROGRAM EKSKLUSIF
  </h2>
</center>

<p style="font: 500 normal 20px Manrope; line-height: 30px">
  Selain les privat regular, kami menyediakan berbagai macam program
  pembelajaran yang ditujukan khusus untuk masuk Perguruan Tinggi Favorit,
  Kedokteran, CPNS, Kedinasan, Akpol dan Akmil.
</p>
