<style>
  .testi {
    text-align: justify;
    padding-top: 5em;
  }

  .testi .table td,
  .testi .table th {
    border-top: 0px;
  }

  .testi-kiri h6 {
    color: #008e79;
    font: 800 normal 29px Inter;
    line-height: 40px;
  }

  .testi-kanan {
    font-size: 14px;
  }

  .testi-kanan .nama-ortu {
    font: 600 normal 16px Inter;
    line-height: 12px;
    color: #008e79;
  }

  .testi-kanan .label-ortu {
    font: 500 normal 16px Inter;
    line-height: 14px;
    margin-top: -10px;
  }

  .testi-kanan .label2-ortu {
    font: 500 normal 12px Inter;
    line-height: 14px;
    margin-top: -10px;
    color: grey;
  }

  .testi-kanan .nama-siswa {
    font: 600 normal 16px Inter;
    line-height: 24px;
  }

  .testi-kanan .label-siswa {
    font: 500 normal 16px Inter;
    line-height: 24px;
    color: #bdbdbd;
  }

  .testi-teks {
    font: 400 normal 16px Poppins;
    line-height: 32px;
    color: #4f4f4f;
  }

  .card-atas img {
    border-radius: 10px;
  }

  .card-bawah img {
    border-radius: 50%;
  }

  @media(max-width: 620px) {
    .testi-teks {
      font: 400 normal 14px Poppins;
      line-height: 24px;
      color: #4f4f4f;
    }
  }
</style>

<div class="container testi">
  <div class="row">
    <div class="col-md-4 testi-kiri">
      <div class="img-testi" style="width: 100%">
        <img src="https://latiseducation.com/assets/img/latisprivat/Group12.png" loading="lazy" width="100%"
          alt="testi" />
      </div>
      <h6>Testimoni Orang Tua Dan Siswa</h6>
    </div>
    <div class="col-md-8 testi-kanan">
      <div class="card card-atas">
        <div class="card-body body-atas">
          <div id="testiAtas" class="carousel slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_elang.jpeg"
                              loading="lazy" width="100%" alt="profilortu1" />
                          </td>
                          <td>
                            <p class="nama-ortu">Bu Santy</p>
                            <p class="label-ortu">Orangtua Elang Mahija</p>
                            <p class="label2-ortu">Program Les Privat 6 SD – SD Mekarjaya 31</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Anak saya bernama Elang. Dia mengikuti Les Private di Latis Education sekitar bulan Januari.
                      Memang agak telat untuk Elang yang mau masuk SMP. Tapi Alhamdulillah tenaga pengajar yang
                      disiapkan sangat sabar membimbing Elang. Elang juga nyaman dan mudah menerima materi pelajaran.
                      Nilai - nilai Elang lebih baik dibandingkan sebelumnya. Tutornya juga mengerti karakter Elang yang
                      “mau simple nya aja” kalau berhitung. Dengan les privat Elang juga bisa mempelajari mapel yang
                      “baru akan diajarkan gurunya”, jadi Elang selangkah lebih maju dari teman-temannya belajar bahan
                      ajar di sekolah.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_axell.jpg"
                              loading="lazy" width="100%" alt="profilortu2" />
                          </td>
                          <td>
                            <p class="nama-ortu">Bu Irma Jayanti</p>
                            <p class="label-ortu">Orangtua Axelleysia</p>
                            <p class="label2-ortu">Program Les Privat 4 SD - SDIT AL-HIKMAH</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Senang sekali dapat guru les dari latis yang anak suka sehingga mereka belajar dengan hati senang
                      dan tanpa paksaan, cara mengajarnya juga mudah di pahami, selama pandemi anak2 belajar
                      online dan saya harus bekerja WFO jadi tidak bisa full membimbing anak dirumah, jadi saya cari2
                      les privat dan mencoba latis alhamdulillah anak nya cocok dengan guru lesnya, dan alhamdulillah
                      nilai anak juga jadi lebih baik, jadi lanjut les sampai sekarang.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_ibrahim.jpeg"
                              loading="lazy" width="100%" alt="profilortu3" />
                          </td>
                          <td>
                            <p class="nama-ortu">Pak Agus</p>
                            <p class="label-ortu">Orangtua Ibrahim</p>
                            <p class="label2-ortu">Program Les Privat 3 SD – SDN 12 Bendungan Hilir</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Dengan mengikuti bimbingan belajar Latis Privat, kemampuan serta cara mengerjakan tugas dan soal
                      yang diberikan oleh sekolah dapat dikerjakan dengan baik dan alhamdulilah anak kami mendapatkan
                      peringkat 5 besar disekolah SD Percontohan Bendungan Hilir.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_amanda.JPG"
                              loading="lazy" width="100%" alt="profilortu4" />
                          </td>
                          <td>
                            <p class="nama-ortu">Bu Nunik</p>
                            <p class="label-ortu">Orangtua Amanda</p>
                            <p class="label2-ortu">Program Les Privat 11 SMA IPA - SMA Labschool Rawamangun</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Saya sebagai orang tua murid anak kelas 10 SMA, mata pelajaran sudah mulai sulit dan sekolah
                      masih system online. Dengan adanya bimbel Latis education sangat membantu saya karena:
                      <ol>
                        <li>
                          Gurunya sabar dan expert menguasai bidangnya (anak saya belajar math fisika dan kimia)
                        </li>
                        <li>
                          Waktu belajar yang cukup yaitu 2 jam jadi tidak terburu buru dalam proses belajar
                        </li>
                        <li>
                          Gurunya fleksibel dan bisa tambah waktu belajar
                        </li>
                        <li>
                          Nilai Meningkat dan masuk 10 besar
                        </li>
                      </ol>
                      Saya tenang mengikutkan anak belajar di Latiseducation.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/NadhiraOktavia.jpg"
                              loading="lazy" width="100%" alt="profilortu5" />
                          </td>
                          <td>
                            <p class="nama-ortu">Ibu Dina Renatha</p>
                            <p class="label-ortu">Orangtua Nadhira</p>
                            <p class="label2-ortu">Program Les Privat 2 SMP – SMP Al Harsa</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Latis Education adalah cocok untuk anak yang sedang mencari bimbel dan meraih prestasi
                      disekolahnya. Terbukti anak saya Nadhira Khumaira Pevita masuk peringkat 10 besar dengan prestasi
                      nilai tertinggi bidang IPA dikelasnya Latis Education memiliki kakak tutor yang asik, pintar, dan
                      seru dalam mengajarnya”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu-gerardus.JPG"
                              loading="lazy" width="100%" alt="profilortu6" />
                          </td>
                          <td>
                            <p class="nama-ortu">Bu Hilda Kristina</p>
                            <p class="label-ortu">Orangtua Gerardus </p>
                            <p class="label2-ortu">Program Les Privat 6 SD – SD Tarakanita 2</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Saya paling tidak sabaran kalau mengajari anak matematika. Dari pada anaknya kena omel terus maka
                      saya cari guru privat matematika. Setelah cari-cari di internet, akhirnya saya memilih Latis,
                      karena biaya nya masih sesuai dengan budget saya. Dan sekarang nilai matematika semester ganjil
                      dan genap di raport terlIhat mengalami kenaikan. Dan hasilnya, anak saya naik ke kelas 6 SD dengan
                      nilai yang memuaskan. Thanks buat Latis Education dan juga buat guru privat anak saya yaitu mbak
                      Rika yang sudah sabar dan telaten ngajarin anak saya.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ORTU-ELNAURA.jpg"
                              loading="lazy" width="100%" alt="profilortu7" />
                          </td>
                          <td>
                            <p class="nama-ortu">Bu Risa</p>
                            <p class="label-ortu">Orangtua Elnaura</p>
                            <p class="label2-ortu">Program Les Privat 1 SD - SD Kids Republic</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Di masa pandemi seperti setahun lalu, dimana anak-anak hanya belajar via online, Latis Education
                      dengan program les privatenya sangat membantu sekali anak saya dalam belajar. Semenjak les private
                      di latis, kemajuan membaca menulis dan berhitung anak saya sangat signifikan sekali. Saya merasa
                      sangat terbantu oleh tutor yg sabar saat mengajar anak saya.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_arkan_ath_thori.jpg"
                              loading="lazy" width="100%" alt="profilortu8" />
                          </td>
                          <td>
                            <p class="nama-ortu">Pak Zulnovri</p>
                            <p class="label-ortu">Orangtua Arkan</p>
                            <p class="label2-ortu">Program Latis Supercamp – SMA Taruna Krida Nusantara</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Saya orang tua Arkan, anak kami ikut program Latis Supercamp Alumni UI tahun 2022. Di program ini
                      anak kami dikarantina selama 30 hari di apartemen Evenciio Margonda Depok. Tempatnya sangat
                      nyaman, komunikasi ke orang tua sangat baik, mentor, guru dan teman-temannya sangat suportif, try
                      out diadakan setiap hari dan jadwal belajarnya sangat padat, berebeda sekali dengan belajar di
                      rumah. Kami sebagai orang tua merasa bersyukur dan berterima kasih kepada tim latis yang sangat
                      mumpuni dalam memberikan materi pembelajaran sehingga membuat anak saya lolos di PTN Favorit yaitu
                      Teknik Fisika ITB dan Teknik Fisika ITS.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block">
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table">
                        <tr>
                          <td style="width: 30%">
                            <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_husen.jpeg"
                              loading="lazy" width="100%" alt="profilortu9" />
                          </td>
                          <td>
                            <p class="nama-ortu">Bu Huda Akatri</p>
                            <p class="label-ortu">Orangtua Husen</p>
                            <p class="label2-ortu">Program Latis Supercamp – SMAN 14 Jakarta</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 testi-teks">
                      “Saya orang tua dari Husen. Anak saya mengikuti program unggulan dari Latis Education yaitu
                      Karantina Latis Supercamp Alumni UI tahun 2022, saya merasa sangat terbantu dalam persiapan anak
                      saya untuk menghadapi ujian UTBK. Dan sekarang kami sudah membuktikan kualitas Latis dengan
                      berhasilnya Husen masuk PTN, karena bimbingan yang intens oleh para pengajar dan mentor Latis yang
                      sangat professional, fasilitas yang lengkap, dan pelayanan yang memuaskan.”
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block"></div>
                <div class="row">
                  <div class="col-md-8">
                    <table class="table">
                      <tr>
                        <td style="width: 30%">
                          <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_luthfi.jpeg"
                            loading="lazy" width="100%" alt="profilortu10" />
                        </td>
                        <td>
                          <p class="nama-ortu">Pak Sutrisno</p>
                          <p class="label-ortu">Orangtua Luthfi</p>
                          <p class="label2-ortu">Program Latis Supercamp – SMA IT Assyifa Subang</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 testi-teks">
                    “Saya sebagai orang tua Luthfi Baihagi sangat berterima kasih serta merekomendasikan bimbel Latis
                    Supercamp Alumni UI, karena setelah belajar di Latis anak saya menjadi lebih disiplin dalam belajar
                    dan juga lebih siap secara mental dalam menghadapi UTBK sehingga bisa lulus di Universitas yang
                    dicita-citakan nya selama ini yaitu Universitas Indonesia jurusan kimia. Dengan biaya 20jt an Lutfi
                    mendapatkan fasilitas yang sangat baik yaitu penginapan yang nyaman di apartemen margonda, makan 3x
                    sehari, kelas semi privat dari pagi hingga malam dan try out setiap hari. Orang tua juga diberi
                    laporan perkembangan dan grafik nilai try out di aplikasi siswa.”
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block"></div>
                <div class="row">
                  <div class="col-md-8">
                    <table class="table">
                      <tr>
                        <td style="width: 30%">
                          <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_danial.jpeg"
                            loading="lazy" width="100%" alt="profilortu11" />
                        </td>
                        <td>
                          <p class="nama-ortu">Bu Himayati</p>
                          <p class="label-ortu">Orangtua Danial</p>
                          <p class="label2-ortu">Program Latis Supercamp – SMAN 71 Jakarta Timu</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 testi-teks">
                    “Anak saya, Danial, mengikuti program integrated yaitu intensif SBMPTN les privat 1 guru 1 siswa di
                    rumah sebanyak 20 pertemuan dan karantina di Evenciio apartemen selama 30 hari saat menjelang UTBK.
                    Anak saya mendapatkan banyak kemajuan dalam memahami konsep pelajaran materi UTBK. Tutor yang
                    mengajar berkualitas dan berkompeten dengan membuat pola belajar yang tidak membosankan membuat anak
                    saya menjadi lebih bersemangat untuk belajar dan juga fasilitas yang disediakan sangat bagus
                    sehingga saya tidak khawatir dengan anak saya. Saat ini Danial berhasil diterima di ITB Fakultas
                    Teknologi Industri dan UNDIP jurusan Teknik Industri.”
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block"></div>
                <div class="row">
                  <div class="col-md-8">
                    <table class="table">
                      <tr>
                        <td style="width: 30%">
                          <img src="https://latiseducation.com/assets/img/latisprivat/testi/ortu_rasheed.jpg"
                            loading="lazy" width="100%" alt="profilortu12" />
                        </td>
                        <td>
                          <p class="nama-ortu">Pak Faisal Tandjung</p>
                          <p class="label-ortu">Orangtua Rasheed</p>
                          <p class="label2-ortu">Program Latis Supercamp – SMA IT Nurul Fikri</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 testi-teks">
                    “Kami yakin Peranan Bimbel Latis telah meningkatkan tingkat kedisiplinan dan kepercayaan diri anak
                    saya dan terbukti sukses hasilnya dengan diterimanya anak saya di Teknik Informatika Brawijaya dan
                    Fakultas Teknik Elektro dan Informatika Institut Teknologi Bandung.”
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#testiAtas" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" style="color: orange" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#testiAtas" role="button" data-slide="next">
              <span class="carousel-control-next-icon" style="color: orange" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <div class="card card-bawah mt-5">
        <div class="card-body body-bawah">
          <div id="testiBawah" class="carousel slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <center>
                  <div class="d-block">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="https://latiseducation.com/assets/img/latisprivat/testi/DevalcoAghazzanMuslion.jpeg"
                          loading="lazy" width="100px" alt="profilsiswa1" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 testi-teks">
                        “Devalco Aghazzan M - Unpad Teknik Informatika, Undip
                        Informatika, ITS Teknik Material - Belajar di latis
                        private menurut saya sangat bagus karena para
                        tutor-tutornya juga mengajar materinya dari awal supaya
                        kita sebagai murid bisa memahami materi dengan baik dan
                        belajar di latis juga seru tutornya gak semata-mata
                        serius tapi juga ada becanda-candanya sehingga
                        pembelajaran berjalan dengan seru.Selain itu, waktu
                        belajarnya juga bisa menyesuaikan dengan kita jadi kita
                        pun gak perlu repot-repot mikirin waktu belajarnya.
                        Terima kasih latis atas bimbingannya sejak persiapan
                        Sbmptn sampai mandiri ini, semoga latis selalu
                        meningkatkan kualitasnya dan semakin terus bagus..”<br /><br />
                        <p class="nama-siswa">
                          Devalco Aghazzan<br />
                          Lulus Teknik Informatika Unpad & Informatika Undip &
                          Teknik Material ITS
                        </p>
                        <p class="label-siswa">Siswa</p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
              <div class="carousel-item">
                <center>
                  <div class="d-block">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="https://latiseducation.com/assets/img/latisprivat/testi/ALEXIS_JULIETTE.jpg"
                          loading="lazy" width="100px" alt="profilsiswa12" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 testi-teks">
                        “Aku les privat online untuk persiapan UTBK & SIMAK. Aku
                        keterima di Kedokteran UNPAD & aku bisa raih nilai yang
                        baik selama belajar Bersama Latis, pokoknya aku
                        recommended banget karena kakaknya asik2 & ikut alur
                        kita bangeet jadi ngga bikin kecapean, thankyou
                        Latis.”<br /><br />
                        <p class="nama-siswa">
                          Alexis Juliette<br />
                          Lulus Pendidikan Dokter Universitas Padjajaran
                        </p>
                        <p class="label-siswa">Siswa</p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
              <div class="carousel-item">
                <center>
                  <div class="d-block">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="https://latiseducation.com/assets/img/latisprivat/testi/ANANTA_RANGGA.jpg"
                          loading="lazy" width="100px" alt="profilsiswa12" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 testi-teks">
                        “Bimbingan belajar dari Latis sangat membantu saya yang
                        kesulitan belajar selama pandemic tanpa sosok guru yang
                        biasa bertatap muka langsung. Dengan Privat di Latis
                        saya bisa langsung bertanya & berdiskusi jika menemukan
                        kesulitan. Akhirnya saya berhasil mengejar materi
                        sekolah sekaligus lolos di beberapa PTN Favorit. Yaitu
                        UPN veteran Jakarta, UNPAD, UNDIP, IPB, UGM, dan UI.”<br /><br />
                        <p class="nama-siswa">
                          Ananta Rangga Maulana<br />
                          Lulus UPN veteran Jakarta, UNPAD, UNDIP, IPB, UGM, dan
                          UI
                        </p>
                        <p class="label-siswa">Siswa</p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
              <div class="carousel-item">
                <center>
                  <div class="d-block">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="https://latiseducation.com/assets/img/latisprivat/testi/fathan.jpeg" width="100px"
                          alt="profilsiswa12" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 testi-teks">
                        “Selama aku belajar di Latis Supercamp, aku mendapatkan
                        fasilitas yang sangat bagus, ada materi disekolah yang
                        gak paham tapi pas di supercamp gampang banget
                        ngertinya, aku diajar oleh tutor yang sangat mumpuni
                        sehingga mereka mengajarkan materi yang sangat mudah
                        dipahami, terlebih memiliki solidaritas pertemanan yang
                        tinggi dan mendukung satu sama lain menunjang semangat
                        belajarku. Latis Supercamp memang yang terbaik!.”<br /><br />
                        <p class="nama-siswa">
                          Fathan Alfahmi<br />
                          Lulus Teknik Lingkungan Universitas Brawijaya &
                          Universitas Indonesia
                        </p>
                        <p class="label-siswa">Siswa</p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
              <div class="carousel-item">
                <center>
                  <div class="d-block">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="https://latiseducation.com/assets/img/latisprivat/testi/kemal.jpeg" width="100px"
                          alt="profilsiswa12" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 testi-teks">
                        “Bimbel Intensif supercamp di Latis seru sih apalagi ada
                        aku hehe, Setiap pagi kita ada try out per-materi untuk
                        mereview pembelajaran kita selama di Latis, soal soalnya
                        up to date banget, kalau kata orang orang HOTS (high
                        order thingking skills) jadi bisa tau materi apa yang
                        harus kita tingkatkan lagi. dan tutor pengajar yang
                        bagus membuat materi UTBK yang sangat banyak menjadi
                        ringkas dan lebih mudah dimengerti.”<br /><br />
                        <p class="nama-siswa">
                          Kemal Akbar Mahesa<br />
                          Lulus Teknologi Rekayasa Instrumentasi & Kontrol UGM &
                          Teknik Fisika ITB
                        </p>
                        <p class="label-siswa">Siswa</p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
              <div class="carousel-item">
                <center>
                  <div class="d-block">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="https://latiseducation.com/assets/img/latisprivat/testi/MuhammadZakiGunawan.jpeg"
                          loading="lazy" width="100px" alt="profilsiswa12" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 testi-teks">
                        “Terima kasih kakak pengajar saya di latis selama ini,
                        ter khusus untuk kak irfan, kak fadli, kak abraham, kak
                        jose. Selama di latis, saya mempersiapkan diri untuk
                        menghadapi ujian ujian masuk ptn seperti UTBK, Mandiri
                        UNDIP / UNPAD, hingga SIMAK UI. dan alhamdulillah dengan
                        usaha dan bantuan yang maksimal dari kakak hebat, saya
                        bisa tembus di ITS, UPNVJ, dan bahkan UI yang bahkan
                        tidak saya sangka bisa meraihnya. Untuk angkatan 2023
                        dan seterusnya, saya sangat merekomendasikan untuk
                        belajar di latis kalau mau meraih ptn seperti saya.”<br /><br />
                        <p class="nama-siswa">
                          Muhammad Zaki Gunawan<br />
                          Lulus Teknik Mesin Universitas Indonesia
                        </p>
                        <p class="label-siswa">Siswa</p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
              <div class="carousel-item">
                <center>
                  <div class="d-block">
                    <div class="row">
                      <div class="col-md-12">
                        <img src="https://latiseducation.com/assets/img/latisprivat/testi/DESTA.JPG" width="100px"
                          alt="profilsiswa13" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 testi-teks">
                        “Ga expect bisa seseru ini ikut latis supercamp Alumni
                        UI, disini saya diajar oleh tutor pilihan yang sangat
                        berkualitas, detail ngajarnya sampai tips dan trik
                        dikasih tau juga, awalnya ngeliat time table yang padet
                        udah ngerasa males, ternyata pas di jalanin ngerasa
                        kurang karena seru dan cara ngajar tutornya gak bosenin
                        sehingga saya bisa lolos dijurusan impian saya
                        Pendidikan Dokter.”<br /><br />
                        <p class="nama-siswa">
                          Desta Hardito<br />
                          Lulus Pendidikan Dokter Universitas Andalas, Kesmas
                          UNM, Kimia UNDIP
                        </p>
                        <p class="label-siswa">Siswa</p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
            </div>
            <a class="carousel-control-prev" href="#testiBawah" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" style="color: orange" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#testiBawah" role="button" data-slide="next">
              <span class="carousel-control-next-icon" style="color: orange" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>