<div class="container">
    <div class="row">
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/nBsTlLKI_g8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/mcL1ytth17w"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/c-ytq22Z9k0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/aliHOuSlT6Y"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>