<style>
    /* Floating action Button */
    .drop-up {
        position: fixed;
        right: 30px;
        bottom: 20px;
        z-index: 2;
        transition: all 0.1s ease-in-out;
        text-align: right;
    }

    @media(max-width: 620px) {
        .drop-up {
            position: fixed;
            left: 30px;
            bottom: 20px;
            z-index: 2;
            transition: all 0.1s ease-in-out;
            text-align: left;
        }

        .fabtn {
            margin-left: 5px !important;
            margin-right: auto !important;
        }
    }

    .fabtn {
        width: 60px;
        height: 60px;
        /* padding: 20px; */
        background: green url(https://www.tutorindonesia.co.id/wp-content/uploads/2020/10/wa.png);
        background-size: 100% 100%;
        border-radius: 50%;
        box-shadow: 0 3px 6px 0 rgba(75, 75, 75, 0.493);
        font-size: 40px;
        /*line-height: 70px;*/
        color: white;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: 50px;
    }

    .conta {
        color: black !important;
    }

    .fabtn:active {
        background-color: rgb(10, 145, 10);
    }

    .fab-box {
        width: 260px;
        background-color: #ffffff;
        padding: 7px;
        border-radius: 5px;
        list-style: none;
        display: none;
        border: 2px #4fba6f solid;
        box-shadow: 0 0 5px 0 #1f7539;
    }

    .fab-box ul {
        margin-bottom: 10px !important;
    }

    .fab-box>li {
        text-align: left;
        display: block !important;
    }

    .fab-box li img {
        margin-right: 7px;
    }

    .fab-box li small {
        font-size: 7pt;
        font-weight: 400;
        color: #949393;
        vertical-align: top;
    }

    .fab-box li table tbody tr td {
        padding: 0;
        height: 0;
        box-sizing: border-box !important;
    }

    .fab-box>li:hover {
        transition: ease-in-out 0.4s;
        background-color: rgb(213, 248, 213);
        color: rgb(0, 0, 0);
        border-radius: 3px;
    }

    .fab-box tr {
        line-height: normal !important;
        vertical-align: middle;
    }

    .fab-box td {
        vertical-align: middle;
    }
</style>
<div class="drop-up">
    <ul class="fab-box" id="fab-box" style="margin-bottom: 10px !important;">
        <li>
            <table class="conta">
                <tr>
                    <td>
                        <img src="https://latiseducation.com/assets/img/LENI.png" class="img-fluid rounded-circle"
                            style="width:42px;" alt="admin1" />
                    </td>
                    <td style="font-size:14px!important;">
                        Kak Leni<br />
                        <small style="color: green;">Online</small>
                    </td>
                    <td style="padding-left: 17px;font-size:30px">
                        <a href="https://api.whatsapp.com/send?phone=6285810779967&text=Hi%20Kak+Leni%20latisprivat.com%20%0a%0aSaya%20ingin%20tanya%20les%20privat%20untuk%0aKelas%3a%0aMapel%3a%0aKurikulum%3a%0aWilayah%3a"
                            style="color: green;" target="_blank" title="Whatsapp">
                            <image src="https://www.tutorindonesia.co.id/wp-content/uploads/2020/10/wa.png"
                                style="width:30px" />
                            </image></a></td>
                    <td style="padding-left: 17px;font-size:25px">
                        <a href="tel:085810779967" title="085810779967">
                            <image src="https://www.tutorindonesia.co.id/wp-content/uploads/2020/10/call.png"
                                style="width:25px" />
                            </image></a>
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <table class="conta">
                <tr>
                    <td>
                        <img src="https://latiseducation.com/assets/img/SAFIRA.JPG" class="img-fluid rounded-circle"
                            style="width:42px;" alt="admin1" />
                    </td>
                    <td style="font-size:14px!important;">
                        Kak Safira<br />
                        <small style="color: green;">Online</small>
                    </td>
                    <td style="padding-left: 17px;font-size:30px">
                        <a href="https://api.whatsapp.com/send?phone=6287781609961&text=Hi%20Kak+Safira%20latisprivat.com%20%0a%0aSaya%20ingin%20tanya%20les%20privat%20untuk%0aKelas%3a%0aMapel%3a%0aKurikulum%3a%0aWilayah%3a"
                            style="color: green;" target="_blank" title="Whatsapp">
                            <image src="https://www.tutorindonesia.co.id/wp-content/uploads/2020/10/wa.png"
                                style="width:30px" />
                            </image>
                        </a></td>
                    <td style="padding-left: 17px;font-size:25px">
                        <a href="tel:+6287781609961" title="+6287781609961">
                            <image src="https://www.tutorindonesia.co.id/wp-content/uploads/2020/10/call.png"
                                style="width:25px" />
                            </image>
                        </a>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
    <div class="fabtn" id="fabtn"></div>
</div>

<script>
    $("#fab-box").hide();
    $("#fabtn").click(function () {
        $("#fab-box").fadeToggle("fast");
    });
</script>